h2 {
  margin-top: 3em;
}

.block {
  display: block;
  margin: 1em 0;
}

.pallet {
  display: inline-flex;
  padding: 0;
  border: 2px solid #000;
}
.pallet li {
  display: block;
  width: 2em;
  height: 2em;
}